<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src='/images/logo.svg' alt='Logo' id='index-logo'>
    <h1><%= title %></h1>
    <div class='index-buttons'>
      <a href='/pre-rate-tweets' class='index-link-btn'>Rate Tweets</a>
     <!--- <a href='/results' class='index-link-btn'>Results</a>--->
    </div>
  </body>
</html>
