<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/pre-rate-tweets.css' />
</head>
<body>
<img src='/images/logo.svg' alt='Logo' id='index-logo'>
<h1><%= title %></h1>
<p id="textbe">Vielen Danke für die Teilnahme an einer subjektiven Validierung von Tweets hinsichtlich der moralischen Intuition des Autors! <br>
Im Folgenden sind mehrer Tweets zu sehen die verschiedenen Kategorien zuzuordnen sind. Wählen Sie die Kategorie aus von der Sie denken,
    dass Sie am ehesten <b>der moralischen Intuition des Autors</b> beim Absetzen des Tweets entspricht.<br>
    Das Projekt stützt sich auf wissenschaftliche
    Arbeiten rund um die <a href="http://moralfoundations.org" target="_blank">Moral Foundations Theory</a>.<br>Wenn Sie über die entstandenen Ergebnisse dieser Arbeit
    informiert werden wollen können Sie im nachstehenden <u>optional</u> Ihre E-Mail Adresse angeben.<br><br>
Geben Sie bitte erst Ihre demographischen Daten an und bestätigen Sie diese.<br></p>
<form action="pre-rate-tweets/insert" method="post">
    <input class="search-form" name="age" type="number" min="10" max="100" placeholder="Alter" required="required"><br>
    <input id="formgender" type="radio" name="gender" value="male" required="required">	&#9794;
    <input id="formgender" type="radio" name="gender" value="female" required="required"> &#9792;<br>
    <input  class="search-form" name="work" type="text" placeholder="Beruf" required="required"><br>
    <input id="emailAddress" type="email" name="email" placeholder="e-mail"><br>
    <div class='index-buttons'>
        <center>
    <input type="submit"  class='index-link-btn' value="Bestätigen">
        </center>
    </div>
</form>

</body>
</html>
